@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

.main {
    text-align: center;
}

.geek1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}

header {
    max-width: 1640px;
    margin: 0 auto;
}

.mobile-ber {
    display: none;
}

.top-ber {
    display: flex;
    gap: 20px;
    align-items: center;
}

.top-ber h3 {
    font-size: 3.6rem;
}

.menu-ber ul {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part-two {
    display: flex;
}

.cnt-btn {
    margin-left: 130px;
}

.yellow {
    font-size: 1.3rem;
    color: Orange;
    font-weight: 700;
}

.Sky-Blue {
    font-size: 1.3rem;
    color: #01acfd;
    font-weight: 700;
}

.green {
    font-size: 1.3rem;
    color: green;
    font-weight: 700;
}

.golapi {
    font-size: 1.3rem;
    color: purple;
    font-weight: 700;
}

.cnt-btn {
    color: white;
    background-color: orange;
    padding: 20px 70px;
    border: none;
    border-radius: 17px;
    font-size: 1.3rem;
    font-weight: 700;
}

.hero-img {
    width: 670px;
    height: 800px;
}

.tittle-cnt h1 {
    font-size: 5.6rem;
    margin-bottom: 0;
    width: 900px;
}

.tittle-cnt p {
    font-size: 1.8rem;
    width: 930px;
}

.orange {
    color: orange;
}

.blue {
    color: #01acfd;
}

.enrol-btn {
    color: white;
    background-color: black;
    padding: 20px 70px;
    border: none;
    border-radius: 17px;
    font-size: 1.3rem;
    font-weight: 700;
}

.part-2-tittle {
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
}

.Standard-Curriculum {
    background: url('/assets/bg.png');

}

.card-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    gap: 30px;
    text-align: center;
}

.card-1 {
    border: 1px solid #DEF5FF;
    padding: 70px 0px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
}

.card-1 h3 {
    font-size: 2rem;
}

.card-1 p {
    color: #808080;
    width: 70%;
    margin: auto;
}

.card-1 h4 {
    color: #01acfd;
}

.card-2 {
    border: 1px solid #FFF4DC;
    padding: 70px 0px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
}

.card-2 h3 {
    font-size: 2rem;
}

.card-2 p {
    color: #808080;
    width: 70%;
    margin: auto;
}

.card-2 h4 {
    color: orange;
}

.card-3 {
    border: 1px solid #F2E8FF;
    padding: 70px 0px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
}

.card-3 h3 {
    font-size: 2rem;
}

.card-3 p {
    color: #808080;
    width: 70%;
    margin: auto;
}

.card-3 h4 {
    color: #8700FF;
}

.next-icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 144px;
}

.previous {
    color: white;
    font-size: 2rem;
    background-color: orange;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.next {
    color: white;
    font-size: 2rem;
    background-color: orange;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Stories h1 {
    text-align: center;
    margin-bottom: 70px;
    font-size: 3.5rem;
}

.Our-Stories-background {
    background: linear-gradient(to top, #f9e2b9, #FFFFFF);
    width: 100%;
    height: 1015px;
}

.Our-Stories {
    background: url('/assets/bg.png');
    max-width: 1640px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.story-date-container {
    text-align: center;
    margin: auto;
    position: relative;
}

.story-date {
    position: absolute;
    right: 295px;
    top: -60px;
    background-color: #00c4cc;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 16px 39px;
    border-radius: 20px;
    text-align: center;
}

.story-date-1 {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #95B226;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 12px 30px;
    border-radius: 20px;
    text-align: center;
}

.story-date-2 {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5D58F0;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 12px 30px;
    border-radius: 20px;
    text-align: center;
}

.story-date-3 {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #95B226;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 12px 30px;
    border-radius: 20px;
    text-align: center;
}

.story-date-4 {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #95B226;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 12px 30px;
    border-radius: 20px;
    text-align: center;
}

.last-card img {
    width: 100%;
}

.last-card {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
}

.big-card {
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
}

.big-card h3 {
    font-size: 1.6rem;
    line-height: 1.5;

}

.big-card p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #666666;
}

.big-card img,
.four-card img {
    border-radius: 10px;
}

.big-card img {
    width: 100%;
}

.big-card-content {
    padding: 30px;
}

.four-card {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 0;
}

.card-pera {
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1.6;
    margin-left: 20px;
}

.btn-view {
    text-align: center;
    margin-top: 100px;
}

.view-btn {
    padding: 19px 85px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: black;
    font-size: 1.5rem;
    font-weight: 700;
}

.footer {
    display: flex;
    gap: 130px;
    color: white;
    margin-left: 20%;
}

.foo-ter-1 {
    width: 30%;
}

.foo-ter-1 h3 {
    font-weight: 900;
    font-size: 1.2rem;
}

.logo-tittle {
    display: flex;
    color: white;
}

.fotter-background {
    background-color: #01ACFD;
    height: 619px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* margin-bottom: 1000px; */
}

.fotter-moblile {
    display: none;
}

@media screen and (max-width:572px) {

    .menu-ber,
    .top-ber,
    .next-icon,
    .big-card,
    .fotter-background {
        display: none;
    }

    .part-two {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 110px;
    }

    .hero-img {
        width: 100%;
        height: 100%;
    }

    .tittle-cnt {
        max-width: 100%;
        margin-top: 30px;
    }

    .tittle-cnt h1 {
        margin-left: 0;
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }

    .tittle-cnt p {
        font-size: 1rem;
        font-weight: 500;
        width: 100%;
        text-align: center;
    }

    .for-mb {
        text-align: center;
        margin-bottom: 50px;
    }

    .mobile-ber {
        display: flex;
        text-align: center;
        font-size: 3rem;
        border: 1px solid orange;
        padding: 10px 4px;
        width: 100%;
        justify-content: space-between;
    }

    .part-2-tittle {
        margin-top: 0;
        font-size: 1rem;
    }

    .card-container {
        flex-direction: column;
    }

    .Our-Stories {
        margin-left: 0%;

        max-width: auto;
        margin: 0 auto;
        /* margin-top: 300px; */
        /* display: flex; */
        margin-right: 0%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;

    }

    .four-card {
        margin-bottom: 50px;
    }

    .view-btn {
        padding: 15px 50px;
        border-radius: 15px;
        border: none;
        color: white;
        background-color: black;
        font-size: 1rem;
        font-weight: 700;
    }

    .last-card h2 {
        font-size: .7rem;
        margin-left: 10px;
        font-weight: bold;
    }

    .fotter-moblile {
        display: block;
        margin-bottom: 500px;
        background-color: #01ACFD;
        height: 542px;
        margin: 0;
        color: white;
    }

    .logo-tittle-1 {
        display: flex;
    }

    .mobile-show {
        font-size: 1rem;
        font-weight: 300;
    }

    .btn-view {
        margin-top: 0px;
    }

    .Our-Stories-background {
        height: 595px;
    }
}